# Database Connection
# Defines which database the application connects to.
# For local development with Docker:
DATABASE_URL="postgres://postgres:password@localhost:5432/capyplan_dev"

# For Production (Railway), this will be automatically injected or you can set it manually:
# DATABASE_URL="postgres://user:pass@containers-us-west-1.railway.app:port/railway"